{% extends "layout.html" %}

{% block content %}
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Bring a friend</h2>
        <p class="lead">Admission normally costs 50p per session, but during the summer you and your friend get in for free, if you bring a friend who has not been to youth club for at least 4 weeks.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="static/img/WJYCBringAFriendBothGoFree.jpg" alt="WJYC Bring A Friend Both Go Free" />
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">WJYC is the place to be!</h2>
        <p class="lead">Check out our rap song performed here by one of our kids. Come to youth club and show us your rapping skills.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vadE1Z-AQnU?rel=0&amp;controls=0"></iframe>
        </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Leaders</h2>
        <p class="lead">Our youth leaders Jonathan and Reuben having a laugh.</p>
    </div>
    <div class="col-md-5">
        <div>
            <iframe class="embed-responsive-item" src="https://onedrive.live.com/embed?cid=192188C4F18F31CB&resid=192188C4F18F31CB%213432&authkey=AAPsRgs8Jzb9KhM" width="240" height="320" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Reach for the ...</h2>
        <p class="lead">We had some leaflets left over after the Christmas celebration and decided to see who could build the highest tower.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <div>
            <iframe src="https://onedrive.live.com/embed?cid=192188C4F18F31CB&resid=192188C4F18F31CB%212599&authkey=AP7ehdAkPUz17q4" width="240" height="320" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>

<hr class="featurette-divider">

{% endblock %}
